# Extracting text from images of "Gartner Magic Quadrant"
Ordered by "ability to execute"

In [59]:
year=2018

In [60]:
import cv2
import pytesseract
import pandas as pd
import numpy as np
import glob

In [61]:
file = glob.glob("siem_historic_gartner/"+str(year)+"*")[0]

img = cv2.imread(file)

text = pytesseract.image_to_string(img)

In [62]:
text = text.replace("@","\n").replace("5","\n").replace("OC","\n").split("\n")
            
lst = list(filter(None, text))

df = pd.DataFrame(lst)

In [63]:
entries2remove= ['Figure', 'CHALLENGERS', 'LEADERS','ABILITY TO EXECUTE','NICHE PLAYERS','VISIONARIES','COMPLETENESS', 'Gartner',
                'January','February','March','April','May','June','July','August','September','October','November','December']
pattern = '|'.join(entries2remove)
df_filtered = df[~df[0].str.contains(pattern,case=False)]

df_filtered = pd.DataFrame(df_filtered[0].str.replace(" O","")
                                        .str.replace("O ","")
                                        .str.replace("®","")
                                        .str.replace("&","")
                                        .str.replace("—_»>","")
                                        .str.replace(" e","")
                                        .str.replace("©","")   
                                        .str.replace(" beam","Exabeam")
                                        .str.replace("Rapid\?","Rapid7")
                                        .str.replace("FventTrack","EventTracker")
                                        .str.replace("Oo <n ","")
                                        .str.strip()
                                        .replace('', np.nan).dropna())

df_filtered.drop(df_filtered[(df_filtered[0]=='e') | 
                             (df_filtered[0]=='.') |
                             (df_filtered[0]=='rae')| 
                             (df_filtered[0]==')')|
                             (df_filtered[0]=='—-')|
                             (df_filtered[0]=='ly')|
                             (df_filtered[0]=='O')|
                             (df_filtered[0]==',')|
                             (df_filtered[0]=='usin')
                            ].index,inplace = True)

df_filtered.columns=[str(year)]

df_filtered.reset_index(drop=True, inplace=True)
df_filtered.index += 1
df_filtered

                         2018
1                      Splunk
2                         IBM
3                   LogRhythm
4     Dell Technologies (RSA)
5                     Exabeam
6                      McAfee
7                   Securonix
8                 Micro Focus
9                   AlienVaut
10                     Rapid7
11                   Fortinet
12      Netsurion-EventTrackr
13                   LogPoint
14                  Venustech
15  BlackStratus ManageEngine

### To add a line in an arbritrary position

In [4]:
# line = DataFrame({"<column_name>": "<value>"}, index=[<new_manual_position-0,5>])
# df = df.append(line, ignore_index=False)
# df = df.sort_index().reset_index(drop=True)

# Outcome!!

- 2007: (0/20)
- 2008: we don't have the figure
- 2009: (0/21)
- 2010: (9*/20)
- 2011: (19/25)
- 2012: (8/20)
- 2013: (13*/16)
- 2014: (0/15)
- 2015: (13*/13) *HP
- 2016: (14/14)
- 2017: (17/19)
- 2018: (15/17) *no SolarWinds